@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap');

li{
    list-style: none;
}
body {
    background-color: #131313;
    color: #fff;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-top {
    padding-top: 40px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav__link {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;

}

.header-nav__link li a {
    display: block;
    font-weight: 600;
    padding: 12px 24px;
    color: #fff;
    text-decoration: none;
}

.header-nav__link li:hover {
    background-color: #EE8313;
    transition: all .5s;
}

.header-content {
    padding-top: 165px;
    max-width: 450px;
    position: relative;

}

.header-content__content {}

.title {
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.006em;
    text-transform: capitalize;

    margin-bottom: 32px;
}

.header-content__text {
    font-size: 17px;
    line-height: 28px;
    letter-spacing: -0.408px;
    opacity: 0.8;
    margin-bottom: 48px;
}

.header-content__content button {

    padding: 12px 24px;
    border: 1px solid #EE8313;
    background-color: transparent;
    color: #EE8313;
    transition: all .5s;
}

.header-content__content button:hover {
    background: #EE8313;
    color: #fff;
}

.header-content__btn-buy {
    margin-right: 35px;
}

.header-content__info {
    padding-top: 100px;
    display: flex;
    gap: 17px;
    align-items: center;
}

.header-content__info li:nth-child(odd) {
    font-size: 40px;
    font-weight: 700;
}

.header-content__info li:nth-child(3) {
    padding-left: 45px;
}

.header-content__content::before {
    content: url(images/headcar-bg.svg);
    display: inline-block;
    position: absolute;
    left: 420px;
}

.section-1 {
    padding-top: 120px;
    padding-bottom: 60px;
}

.section__title {
    letter-spacing: 0.006em;
    font-weight: 700;
    font-size: 52px;
    text-align: center;
    margin-bottom: 40px;
}

.section-car {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 524px);
    gap: 32px;
    
    
}

.section-car__type {
    position: relative;
    letter-spacing: 0.006em;
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
}

.type-supercars {
    background-image: url(images/supercars.jpg);
}

.type-sportcars {
    background-image: url(images/sportcars.jpg);
}

.type-SUV {
    background-image: url(images/suv.jpg);
}

.type-supersuv {
    background-image: url(images/supersuv.jpg);
}

.section-car__type h3 {
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    top: 48px;
    left: 48px;
}

.section-car__type a {
    position: absolute;
    font-weight: 500;
    font-size: 24px;
    bottom: 48px;
    right: 90px;
    text-decoration: none;
    color: #fff;
}

.section-car__type a::after {
    content: url(images/arrow.svg);
    width: 32px;
    height: 32px;
    padding-left: 10px;
    position: absolute;
    bottom: -6px;
    right: -32px;
}

.section-car__type:hover {
    box-shadow: 0px 0px 20px 3px #ee0d0d;
    transition: all .5s ease-in-out;
    transform: perspective(5px);
    transform: scale3d(1.07, 1.07, 1.1);
    border-radius: 10px;
}

.section-car__type a:hover {
    color: #f3ef0c;
    transition: .5s;
}

.section-2 {
    padding: 60px 0px;
}

.section-2__title {
    margin-bottom: 66px;
    letter-spacing: 0.006em;
    font-weight: 700;
    font-size: 52px;
}

.section-2__service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    letter-spacing: 0.006em;
}

.section-2__service img {
    width: 100%;
    padding-bottom: 24px;
}

.section-2__service h3 {
    font-weight: 700;
    font-size: 24px;
}

.section-2__service p {
    padding-top: 16px;
    padding-bottom: 60px;
    opacity: 0.8;
    line-height: 28px;
    max-width: 360px;
}

.section-3 {
    padding-bottom: 60px;
}

.section-3 h2 {
    max-width: 590px;
    margin: 0 auto;
    line-height: 64px;
    margin-bottom: 40px;
}

.section-3__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;

}

.section-3__location img {
    width: 100%;
}

.location-info {
    padding: 24px;
    background: #1E1E1E;
    border: 1px solid #171717;
    position: relative;
    
}

.location-info h3 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.006em;
    margin-bottom: 10px;
}

.location-info span {
    opacity: 0.8;
    letter-spacing: 0.0041em;
    margin-bottom: 24px;
    display: block;
}

.location-info p {
    padding-left: 42px;
}

.location-info p::before {
    content: url(images/icon-car.svg);
    display: inline-block;
    position: absolute;
    left: 6px;
    bottom: 41px;
}

.location-info a {
    display: block;
    text-decoration: none;
    margin-top: 16px;
    letter-spacing: 0.0041em;
    color: #EE8313;
    margin-left: 15px;
}

.section-4 {
    padding: 101px 0px;
}

.section__title {
    padding-bottom: 40px;
}

.section-4 img {
    width: 100%;
}
.footer{
    background: #1F1905;
}
.footer-content {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    
}

.footer-left span {
    padding-left: 17px;
    letter-spacing: 0.01em;
    font-weight: 600;
}

.footer-left p {
    padding-top: 76px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    max-width: 235px;
}
.footer-right{
    display: flex;
    padding-top: 40px;
    padding-bottom: 41px;
    justify-content: space-between;
    align-items: center;
    column-gap: 60px; 
      
}
.footer-right li, a{
    padding-bottom: 25px;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
    
}
.network li, a{
    opacity: 1;
    font-weight: 400;
}
.footer-right ul, a:first-child{
    font-weight: 700;
    opacity: 1;
    font-size: 18px;
    
}
li .footer-help{
    font-weight: 400;
    opacity: 0.8;
}
.footer-line{
    padding: 20px 0px;
    background: #EE8313;
    text-align: center;

}